<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission to query NativePlanet Controller status -->
    <uses-permission android:name="io.nativeplanet.permission.READ_STATUS" />

    <!-- Query the controller ContentProvider -->
    <queries>
        <provider android:authorities="io.nativeplanet.controller" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name=".NativePlanetApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhisperLauncher">

        <activity
            android:name="io.nativeplanet.launcher.MainActivity"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenSize|screenLayout|smallestScreenSize|uiMode|density|fontScale"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:resumeWhilePausing="true"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.WhisperLauncher"
            android:windowSoftInputMode="adjustNothing">
        </activity>

    </application>

</manifest>
